services:
  db:
    image: postgres:16
    container_name: task_manager_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_manager
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: task_manager_api
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@db:5432/task_manager
      SECRET_KEY: change-me
      ALGORITHM: HS256
      ACCESS_TOKEN_EXPIRE_MINUTES: 60
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pgdata:
